@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

header {
  display: flex;
}

body {
    font-family: 'Poppins', 'sans-serif';
}

.pricing {
  display: flex;
}

.gallery {
  display: flex;
}

#logo {
    animation: fadeIn ease 3s;
}

#logo {
  width: 100%;
  height: auto;
}
.nav_links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pricing {
  flex-direction: column;
}
.card {
  width: 100%;
}
.gallery {
  flex-direction: column;
}
.gallery img {
  width: 100%;
}

@media screen and (min-width: 700px) {
  header {
    justify-content: space-between;
  }
  #logo {
    width: 400px;
    height: auto;
  }
  .nav_links {
    display: flex;
    flex-direction: row;
  }
  .pricing {
    flex-flow: row wrap;
  }
  .card {
    width: 300px;
  }
  .gallery {
    flex-flow: row wrap;
  }
  .gallery img {
    width: 300px;
  }
}

@media screen and (prefers-reduced-motion) {
  #logo {
    animation: none;
  }
}
